<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Mercurial News Highlights </title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    </head>
    <body>
    <div class="w3-container w3-black w3-center w3-bar-block" style="position:fixed; height:15%; width:100%;">

     <h1>Mercurial News Highlights</h1>

    </div>
    <div class="w3-sidebar w3-bar-block w3-center" style="width:10%; top:15%">
        <br>
        <a href="{{url_for('main.index')}}" class="w3-bar-item w3-button">Home</a>
        <hr>
        <p>Our Sources</p>
        <hr>
        <a href="{{url_for('main.bbc')}}" class="w3-bar-item w3-button">BBC</a>
        <a href="{{url_for('main.cnn')}}" class="w3-bar-item w3-button">CNN</a>
        <a href="{{url_for('main.jaz')}}" class="w3-bar-item w3-button">Al-Jazeera</a>
        <hr>
        <br>
        <br>
        <img style="max-width:120px; height:auto" src="https://www.iconspng.com/images/globe-showing-africa-asia-and-europe-in-black-and-white-detailed/globe-showing-africa-asia-and-europe-in-black-and-white-detailed.jpg">
        <!--<hr>-->
    </div>
    <div class="w3-container" style="margin-left:10%; top:15%">
        <br><br><br><br><br>
        {%for cnn_news in cnn_news%}
            <div class="w3-margin w3-card-4 w3-round">
                <div class="w3-row">
                <img style="float:left; width:40%" class="w3-margin w3-round l3" src="{{cnn_news.urlToImage}}">
                    <div class="w3-margin w3-center">
                        <p><small>Published on {{cnn_news.publishedAt}}</small></p>
                        <hr>
                        <p>{{cnn_news.description}}</p>
                        <a href="{{cnn_news.url}}"><button class="w3-button w3-white w3-border">Read More Here...</button></a>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
    </body>
</html>


